.order_list {
  margin: 5.1475rem 0rem 4rem 0rem;
}

.order_list_wrap {
  margin: 1rem;
}

.order_list_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.order_list_item_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.order_list_item_top button {
  border: none;
  background-color: transparent;
  font-size: 0.7rem;
  font-weight: bold;
}

.order_list_item_top button:active {
  background-color: #d72b67;
  border-radius: 200px;
  color: white;
}

.order_list_item_body {
  background-color: #fdf2f7;
  padding: 1rem;
  border-radius: 7px;
}

.order_list_item_body_info {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.order_list_item_body_info_wrap {
  display: flex;
  justify-content: space-between;
}

.order_list_item_body_info_requirements_title {
  font-size: 1.1rem;
  font-weight: bold;
}

.order_list_item_body_info_requirements {
  font-size: 0.7rem;
  color: #949494;
}

.order_list_item_sucess {
  align-self: flex-start;
  font-weight: bold;
  font-size: 1rem;
  background-color: #d72b67;
  border-radius: 200px;
  color: white;
  padding: 0 0.5rem;
}

.order_list_item_cancle {
  align-self: flex-start;
  font-weight: bold;
  background-color: #e2e2e2;
  border-radius: 200px;
  padding: 0 0.5rem;
  color: white;
}

.abled_button {
  width: 100%;
  font-size: 1rem;
  height: 2.5rem;
  border: none;
  background-color: #d72b67;
  border-radius: 7px;
  color: white;
}

.disabled_button {
  width: 100%;
  font-size: 1rem;
  height: 2.5rem;
  border: none;
  background-color: #e2e2e2;
  border-radius: 7px;
  color: white;
}

.order_list_item_body button:active {
  opacity: 50%;
}

.order_list_item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

.order_list_item p {
  margin-bottom: 0.3rem;
}

.order_list_item_body_info_cost_wrap {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #949494;
  padding-top: 0.3rem;
}

.order_list_item_body_info_cost {
  font-weight: bold;
  font-size: 1rem;
}