.shop_main {
  margin-top: 4.1875rem;
}

.shop_main_top {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.shop_main_top::-webkit-scrollbar {
  display: none;
}

.shop_main_top_container {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.shop_main_top_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  justify-content: center;
  align-items: center;
}

.shop_main_top_item img {
  margin: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.shop_main_top_item p {
  text-align: center;
}