.blank_space {
    padding-top: 6rem;
}

.thumbnail {
    overflow: hidden;
    /* border: 3px solid black; */
    height: 18rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}


.thumb_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
}

.seller {
    border-radius: 50%;
    margin: 1em;
    width: 60px;
    height: 60px;
}

.h3 {
    margin-bottom: 0.5em;
    margin-right: 3em;
    overflow: auto;
    text-align: center;
}

.seller_info {
    display: flex;
    width: 100%;
    align-items: center;
}

.item_container {
    /* display: flex; */
    align-items: center; 
}

.price_wrap {
    display: flex;
    margin-bottom: 3rem;
}

.discount {
    color: red;
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-weight: 500;
}

.price {
    color: #ccc;
    margin-right: 0.2rem;
    text-decoration: line-through;
}

.result_price {
    font-weight: 650;
}