:root {
    font-size: 16px;
  }
  
  .input-container {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.938rem; 
    width: 100%;
    /* margin-left: 0.938rem;  */
  }
  
  .link {
    display: flex;
    align-items: center;
  }

  .div{
    display: flex;
    justify-content: center;
    width: 100%
  }
  .search-input {
    /* padding: 0.5rem;  */ 
    font-size: 1rem; 
    border: none;
    width: 100%;
    margin-left: 0.938rem; 
  }

  .search-input:focus {
    /* padding: 0.5rem;  */ 
    font-size: 1rem; 
    border: none;
    outline: none;
  }
  
  
  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0; 
    display: flex;
    align-items: center;
  }
  
  .image {
    height: 1.875rem; 
    width: 1.875rem; 
    margin-top: 0.125rem; 
  }
  
   .back {
    margin-bottom: 0.125rem;
    border: 1px solid black;
    border-radius: 50%;  
  }
  
  