.input-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0px 15px 0px 15px;
    width: 100%;
    margin-left: 15px;
  }
  
.search-input {
    /* padding: 8px;  */
    font-size: 16px; 
    border: none;
    width: 100%;
    margin-left: 15px;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;    
    margin: 0px; 
}
  
.image {
    height: 30px; 
    width: 30px; 
    margin-top: 2px;
}

.back {
    height: 30px;
    width: 30px;
    margin-bottom: 2px;
}