/* 기준 폰트 크기 설정 */
:root {
  font-size: 16px;
}

/* @keyframes spin */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* .container 클래스 */
.container {
  height: 100vh;
  background-image: url('./background.png');
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* .textcontainer 클래스 */
.textcontainer {
  margin-top: 12.5rem; /* 200px / 16px = 12.5rem */
}

/* .text 클래스 */
.text {
  color: #000;
  font-size: 3.125rem; /* 50px / 16px = 3.125rem */
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/* .spinner 클래스 */
.spinner {
  width: 3.125rem; /* 50px / 16px = 3.125rem */
  height: 3.125rem; /* 50px / 16px = 3.125rem */
  border: 0.25rem solid #f3f3f3; /* 4px / 16px = 0.25rem */
  border-top: 0.25rem solid #3498db; /* 4px / 16px = 0.25rem */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 6.25rem auto 0; /* 100px / 16px = 6.25rem */
}
