@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Finger+Paint&display=swap');

.navigationBar_header {
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 2rem;
  border-bottom: 0.5px solid black;
  background-color: white;
  position: fixed;
  z-index: 2;
}
.navigationBar_left {
  margin-left: 1em;
}

.navigationBar_left_temp {
  margin-left: 1em;
  width: 15%;
}

.navigationBar_right {
  display: flex;
  margin-right: 1em;
}

.navigationBar_right_right {
  margin-left: 1em;
}

.navigationBar_center > h3{
  margin: 0;
  color: #D72B67;
  font-family: 'Finger Paint', cursive;
}

.page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 200%;
  background-color: white;
  transition: left 0.8s ease;
  z-index: 100;
  overflow-y: hidden;
}

.show {
  left: 0;
}

.modal_top {
  display: flex;
  justify-content: space-between;
  padding-top: 1.9rem;
  border-bottom: 0.5px solid black;
  background-color: white;
}

.modal_left {
  margin-left: 1em;
}

.mordal_back {
  border: 1px solid black;  
  border-radius: 50%;
}

.modal_center {
  margin-right: 5em;
  color: #D72B67;
  font-family: 'Finger Paint', cursive;
}

.modal_body {
  margin-left: 2em;
  overflow-x: hidden;
}

.modal_body_item > a {
  font-size: 16vw;
  font-weight: 900;
  color: #D72B67;
  margin-top: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.navigationBar_right_left > a {
  color: black;
  text-decoration: none;
}

.navigationBar_right_none {
  width: 20%;
}

.modal_bottom {
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: #D72B67;
  margin-top: 24rem;
  margin-right: .3rem;
  margin-bottom: .5rem;
}

.modal_bottom_settings {
  margin-right: 0.5rem;
}