.img {
    border-radius: 50%;
    margin: 0 0.7em;
    margin-bottom: 0.7em;
    width: 35px;
    height: 35px;
    align-items: center;
    
}

.commentInfo {
    display: flex;
    align-items: start;
    margin-top: 0.7em;
}

.author_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 4em;
    align-items: start;
}

.author {
    font-weight: 500;
    font-size: 17px;
}

.time {
    font-size: 13px;
}

.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_wrap > p{
    margin: 0;
    margin-left: 1em;
}