/* LoginForm.css */
html {
	font-size: 16px; /* 루트 요소(HTML)의 기본 폰트 크기를 설정합니다. */
}

.signUpForm_container {
	margin: 50% auto;
	width: 18.75rem; /* 300px를 rem 단위로 변환 (300 / 16 = 18.75) */
	text-align: left;
}

.signUpForm_form-group {
	margin-bottom: 0.9375rem; /* 15px를 rem 단위로 변환 (15 / 16 = 0.9375) */
}

.signUpForm_label {
	display: flex;
	font-weight: bold;
}

.signUpForm_input {
	width: 100%;
	padding: 0.625rem; /* 10px를 rem 단위로 변환 (10 / 16 = 0.625) */
	border: none;
	border-radius: 0;
	font-size: 1rem; /* 16px를 rem 단위로 변환 (16 / 16 = 1) */
	border-bottom: 0.125rem solid #dddddd; /* 2px를 rem 단위로 변환 (2 / 16 = 0.125) */
}

.signUpForm_input:focus {
	outline: none;
	border-bottom: 0.125rem solid #e84c8b;
}

.signUpForm_button-container {
	display: flex;
	justify-content: center;
}

.signUpForm_button-container button {
	width: 100%;
	padding: 1.25rem 2.5rem; /* 20px, 40px를 rem 단위로 변환 (20 / 16 = 1.25, 40 / 16 = 2.5) */
	background-color: #e84c8b;
	color: #fff;
	border: none;
	border-radius: 0.3125rem; /* 5px를 rem 단위로 변환 (5 / 16 = 0.3125) */
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
}

.signUpForm_link-container {
	display: flex;
	justify-content: center;
}

.signUpForm_link-container p {
	margin: 0;
	margin-right: 0.3125rem; /* 5px를 rem 단위로 변환 (5 / 16 = 0.3125) */
	font-size: 0.875rem; /* 14px를 rem 단위로 변환 (14 / 16 = 0.875) */
	color: #666;
}

.signUpForm_gender-button-container {
	display: flex;
}

.signUpForm_gender-button-container button {
	width: 50%;
	padding: 1.25rem 2.5rem; /* 20px, 40px를 rem 단위로 변환 (20 / 16 = 1.25, 40 / 16 = 2.5) */
	background-color: #e84c8b;
	color: #fff;
	border: none;
	border-radius: 0.3125rem; /* 5px를 rem 단위로 변환 (5 / 16 = 0.3125) */
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
}

.signUpForm_gender-button-container button.active {
	width: 50%;
	padding: 1.25rem 2.5rem; /* 20px, 40px를 rem 단위로 변환 (20 / 16 = 1.25, 40 / 16 = 2.5) */
	background-color: lightgray;
	color: #fff;
	border: none;
	border-radius: 0.3125rem; /* 5px를 rem 단위로 변환 (5 / 16 = 0.3125) */
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
}

.signUpForm_button-gap {
	margin-right: 1rem;
}

.signUpForm_error-message {
	text-align: left;
	font-size: 0.7rem;
	color: red;
}

.signUpForm_input-with-button input {
	width: 70%;

	text-align: left;
}

.signUpForm_duplication-button {
	background-color: #e84c8b;
	color: #fff;
	border: none;
	border-radius: 0.5rem; /* 5px를 rem 단위로 변환 (5 / 16 = 0.3125) */
}
