html {
	font-size: 16px; /* 루트 요소(HTML)의 기본 폰트 크기를 설정합니다. */
}
.mypage_container {
	display: flex;
	flex-direction: column; /* 요소들을 세로 방향으로 정렬합니다. */
	margin: 4.2rem auto;
	text-align: left;
}

.mypage_background-container {
	display: flex;
	justify-content: center; /* 요소들을 가로 방향으로 가운데 정렬합니다. */
	align-items: center; /* 요소들을 세로 방향으로 가운데 정렬합니다. */
	width: 100%; /* 원하는 이미지 크기로 설정합니다. */
	height: 13rem; /* 원하는 이미지 크기로 설정합니다. */
}
.mypage_background-picture {
	position: relative;
	width: 100%; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	height: 100%; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	/* object-fit: cover; 이미지가 비율을 유지하면서 컨테이너를 가득 채우도록 합니다. */
}

.mypage_profile-picture {
	position: absolute;
	left: 1rem;
	top: 12rem;
	width: 4rem; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	height: 4rem; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	border-radius: 50%; /* 50%로 설정하여 이미지를 원형으로 만듭니다. */
	overflow: hidden; /* 이미지가 컨테이너 영역을 벗어나는 부분은 잘립니다. */
	object-fit: cover; /* 이미지가 비율을 유지하면서 컨테이너를 가득 채우도록 합니다. */
}

.mypage_follow-button {
	position: absolute;
	right: 1rem;
	top: 14rem;
	width: 5rem; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	height: 2rem; /* 이미지를 컨테이너 크기에 맞게 조정합니다. */
	background-color: #e84c8b;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
}

.mypage_personal_info {
	display: block;
	line-height: 2rem;
}

.mypage_personal_info_inner {
	display: flex;
}

.mypage_personal_info_feed {
	display: flex;
	justify-content: right;
	align-items: right;
	margin-left: auto;
}

.mypage_personal_info_feed > a {
	text-decoration: none;
	color: black;
}

.mypage_label {
	font-weight: bold;
	font-size: 1rem;
	width: 8rem;
}

.mypage_text-left {
	text-align: left;
}

.mypage_cnt {
	text-align: center;
}

.mypage_gap {
	margin-right: 1rem;
}

.mypage_menu_button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mypage_button1 {
	width: 5rem;
	height: 5rem;
	background-color: white;
	border: lightgray;
	border-width: 0.1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button2 {
	width: 5rem;
	height: 5rem;
	border: lightgray;
	border-width: 0.1px;
	background-color: white;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button3 {
	width: 5rem;
	height: 5rem;
	border: lightgray;
	border-width: 0.1px;
	background-color: white;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button4 {
	width: rem;
	height: 5rem;
	border: lightgray;
	border-width: 0.1px;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button5 {
	width: 7rem;
	height: 3rem;
	background-color: white;
	border: lightgray;
	border-width: 0.1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button6 {
	width: 6rem;
	height: 3rem;
	background-color: white;
	border: lightgray;
	border-width: 0.1px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.mypage_button7 {
	width: 7rem;
	height: 3rem;
	background-color: white;
	border: lightgray;
	border-width: 0.1px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.mypage_button_feed {
	width: 50%;
	height: 2.5rem;
	font-weight: bold;
	background-color: white;
	border: none;
}
.mypage_button_challenge {
	width: 50%;
	height: 2.5rem;
	font-weight: bold;
	background-color: white;
	border: none;
}

.feedMain {
	margin-top: 4.1875em;
}

.feedMain_body_info {
	column-count: 2;
	column-gap: 1em;
	margin: 0 1em;
	margin-top: 3em;
}

.feedMain_body_container {
	justify-content: center;
}

.feedMain_body_info_item {
	display: inline-block;
	margin-bottom: 1em;
	border-radius: 10px;
}

.feedMain_body_info_item img {
	width: 100%;
	border-radius: 10px;
}

.feedMain_body {
	margin-bottom: 3em;
}
