/* Payment.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.item_container, 
.address_container,
.price_container {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.purchase {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchase:hover {
    background-color: #555;
}

.purchase div {
    color: #fff;
    font-weight: bold;
}

/* h3, h4 {
    margin-top: 20px;
}
*/

.img {
    /* max-width: 80%; */
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    height: 3em;
    width: 3em;
} 

.title {
    font-weight: 900;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.brand {
    text-align: left;
    color: #555;
}

.product {
    display: flex; /* Flexbox를 사용하여 요소들을 가로로 정렬합니다. */
    align-items: center; /* 이미지와 텍스트를 같은 높이에 맞춥니다. */
    margin-bottom: 15px;
}

.product-info { /* 새로운 클래스. 상품명과 가격을 담기 위한 컨테이너 */
    display: flex;
    flex-direction: column; /* 상품명과 가격을 수직으로 쌓습니다. */
    justify-content: center; /* 상품명과 가격을 컨테이너의 중간에 위치시킵니다. */
}

.options {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-left: 10px; /* 필요한 경우 왼쪽 여백을 추가하여 상품 정보와 분리 */
    font-size: 0.9em;
    color: #555;
}

.option {
    display: flex;
    /* flex-direction: column; */
}

.option_container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.option p {
    margin-right : 1em;
    margin-left: 0;
}

.brandbycontainer {
    margin-bottom: 2rem;
}

.productname {
    margin-bottom: 0.5em;
}