.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f8; 
    font-family: 'Arial', sans-serif;
}

.container > div {
    margin: 1rem 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e84c8b;  
    color: #ffffff;  
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
