.feed-image {
    margin-bottom: 20px;
  }
  
.selected-images {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  margin: 5px;
}

.feed-img {
  width: 100px;
  height: 100px;
}

.feed-button {
  padding: 5px;
  margin-top: 5px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.feed-button:hover {
  background-color: #cc3700;
}
