.feedMain {
  margin-top: 4.1875em;
}

.feedMain_body_info {
  column-count: 2;
  column-gap: 1em;
  margin: 0 1em;
  margin-top: 3em;
}

.feedMain_body_container {
  justify-content: center;
}

.feedMain_body_info_item {
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 10px;
}

.feedMain_body_info_item img {
  width: 100%;
  border-radius: 10px;
}

.feedMain_body {
  margin-bottom: 3em;
}

.feed_tags_container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.feed_tags_container::-webkit-scrollbar {
  display: none;
}

.feed_tags {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.feed_tag_item {
  background-color: #FCE7F1;
  border-radius: 200px;
  margin-right: 1rem;
  font-weight: bold;
  width: 130px;
  display: flex;
}