.feed-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.caption textarea,
.tags textarea {
  width: 100%;
  height: 80px;
  resize: vertical;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.caption,
.tags {
  margin-bottom: 20px;
}

.hr {
  margin: 20px 0;
}

.button {
  padding: 10px 16px;
  background-color: #FBCFDF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #FBCFDF;
}

.image-upload {
  margin-bottom: 10px;
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  position: relative;
  margin: 5px;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #cc3700;
}

.tag-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag-input textarea {
  flex: 1;
}

.tag-input button {
  margin-left: 10px;
}

.published-feed {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.published-feed h2 {
  margin-bottom: 10px;
}

.published-feed img {
  margin: 5px;
}
